body {
  background-color: #484a4c;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px; 
  box-sizing: border-box;
  margin: 50px auto; 
}

.resaltado {
  color: #ffff;
  background-color: #153c60;
  font-style: italic;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.imagenresaltada {
  background-color: #fff;
  font-style: italic;
  display: inline-block;
  padding: 5px 10px 5px 33px;
  border-radius: 0px 5px 5px 0px;
  margin-left: -70px;
}

.imagenresaltada2 {
  background-color: #fff;
  font-style: italic;
  display: inline-block;
  padding: 5px 10px 5px 30px;
  border-radius: 0px 5px 5px 0px;
  margin-left: -120px;
}

.left-column {
  flex: 1;
  border-right: 1px solid #ccc;
  background-color: #153c60;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.right-column {
  flex: 2;
  width: 400px;
  padding-left: 20px;
  background-color: #fff;
  margin-right: 0px;
  padding-right: 20px;
}

.profile-image {
  margin-top: 30px;
  width: 300px;
  height: 250px;
  border-radius: 0%;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact img {
  max-width: 20px;
  margin-right: 10px;
}

.imagenes {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin-top: 20px;
  color: #153c60;
}

ul {
  padding-left: 0;
  list-style-type: none; 
}

li {
  margin-bottom: 20px;
  margin-left: -80px;
  position: relative; 
  font-size: 10px;
}

.skill-bar {
  position: absolute;
  top: 50%; 
  left: 120%; 
  transform: translateY(-50%); 
  height: 10px;
  width: 100px;
  background-color: #1c2236;
  border-radius: 5px;
}

.skill-level {
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.nombre {
  margin-top: 10px;
  margin-bottom: 0;
  color: #356793;
  font-size: 32.6px;
}

.nombre2 {
  margin: 0;
  color: #000;
  font-size: 100px;
}

.margen {
  margin: 3px;
}
